table {
    border-style: solid;
    border-width: 1px;
    border-color: #eef7ff;
}

td {
    text-align: left;
}

th,
td {
    padding: 10px;
    text-align: left;
}

tfoot tr,thead tr {
    background-color: #427fef !important;
}


#box {
    width: 300px;
    height: 300px;
    border: 1px solid lightgrey;
    padding: 50px;
    margin: 20px;
    background-color: tomato;
    box-shadow: 17px 17px lightgrey;
    border-radius: 10px;
}

tr:nth-child(odd){
    background-color: #eef7ff;
}

table,td,th{
    border:1px solid #427fef;
    border-left: 0px;
    border-right:0px;
    border-collapse: collapse;
  
}

